{% extends "base.html" %}
{% load static %}
{% load template_helpers %}

{% block content %}
<script>
    function makeChart(div, time, fetched, ocred, nlped, cuneiformed, fonttyped){
        var chart = c3.generate({
            bindto: div,
            size: {
                width: 800,
            },
            data: {
                x: 'times',
                xFormat: '%Y-%m-%d %H:%M:%S', // 'xFormat' can be used as custom format of 'x'
                columns: [
                time,
                fetched,
                ocred,
                nlped,
                cuneiformed,
                fonttyped
                ],
                axes: {
                    times: 'y',
                    rates: 'y2'
                },
                types: {
                    times: "timeseries",
                    rates: "area"
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d %H:%M'
                    }
                },
                y: {
                    label: "Elsevier downloads"
                },
            }
        })
    };   
</script>
<body>
    <table class="overview_table" width="40%">
        <tr>
            <td rowspan="2" >
                Fetched<br>
                <div class="count_big">{{ fetched_total }}</div>
            </td>
            <td>
                OCR<br>
                <div class="count_small">{{ totalOCR }}</div>
            </td>
            <td>
                Cuneiform<br>
                <div class="count_small">{{ totalCuneiform }}</div>
            </td>
        </tr>
        <tr>
            <td>
                NLP<br>
                <div class="count_small">{{ totalNLP }}</div>
            </td>
            <td>
                FontType<br>
                <div class="count_small">{{ totalFonttype}}</div>
            </td>
        </tr>
    </table>

    <div style="text-align: center">
        <table class="table" style="margin-left:auto; margin-right:auto;">
        {% for timeframe, timedict in ranges.items %}
            <tr>
                <td colspan="2">
                    <h3 style="font-size: 3em;">{{ timeframe|capfirst }}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <div id='{{ timeframe }}'></div>
                </td>
                <td>
                    <table class="time_overview_table overview_table" style="width:'50%';">
                        <tr>
                            <td style="width:20%" rowspan="4" >
                                Fetched<br>
                                <div class="count_big">{{ timedict.fetched }}</div>
                            </td>
                            <th style="width:40%;" class="success" colspan="2">Successful Jobs</td>
                            <th style="width:40%;" class="failure" colspan="2">Failed Jobs</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="success total">{{ timedict.success.total }} </td>
                            <td colspan="2" class="failure total">{{ timedict.failure.total }} </td>
                        </tr>
                        <tr>
                            <td class="success">
                                OCR<br>
                                <div class="count_small">{{ timedict.success.ocr }}</div>
                            </td>
                            <td class="success">
                                Cuneiform<br>
                                <div class="count_small">{{ timedict.success.cuneiform }}</div>
                            </td>
                            <td class="failure">
                                OCR<br>
                                <div class="count_small">{{ timedict.failure.ocr }}</div>
                            </td>
                            <td class="failure">
                                Cuneiform<br>
                                <div class="count_small">{{ timedict.failure.cuneiform }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="success">
                                NLPed<br>
                                <div class="count_small">{{ timedict.success.nlp }}</div>
                            </td>
                            <td class="success">
                                FontType<br>
                                <div class="count_small">{{ timedict.success.fonttype }}</div>
                            </td>
                            <td class="failure">
                                NLPed<br>
                                <div class="count_small">{{ timedict.failure.nlp }}</div>
                            </td>
                            <td class="failure">
                                FontType<br>
                                <div class="count_small">{{ timedict.failure.fonttype }}</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </table>

        </div>
        <script>
            var hour_time = {{ times.hour|safe }} 
            var hour_data = {{ totals.hour|safe }}
            var hour_ocr_data = {{ proctypedict.hour.ocr|safe }}
            var hour_nlp_data = {{ proctypedict.hour.nlp|safe }}
            var hour_cuneiform_data = {{ proctypedict.hour.cuneiform|safe }}
            var hour_fonttype_data = {{ proctypedict.hour.fonttype|safe }}
            makeChart('#hour', hour_time, hour_data, hour_ocr_data, hour_nlp_data, hour_cuneiform_data, hour_fonttype_data)
        </script>
        <script>
            var day_time = {{ times.day|safe }} 
            var day_data = {{ totals.day|safe }}
            var day_ocr_data = {{ proctypedict.day.ocr|safe }}
            var day_nlp_data = {{ proctypedict.day.nlp|safe }}
            var day_cuneiform_data = {{ proctypedict.day.cuneiform|safe }}
            var day_fonttype_data = {{ proctypedict.day.fonttype|safe }}
            makeChart('#day', day_time, day_data, day_ocr_data, day_nlp_data, day_cuneiform_data, day_fonttype_data)
        </script>
        <script>
            var week_time = {{ times.week|safe }} 
            var week_data = {{ totals.week|safe }}
            var week_ocr_data = {{ proctypedict.week.ocr|safe }}
            var week_nlp_data = {{ proctypedict.week.nlp|safe }}
            var week_cuneiform_data = {{ proctypedict.week.cuneiform|safe }}
            var week_fonttype_data = {{ proctypedict.week.fonttype|safe }}
            makeChart('#week', week_time, week_data, week_ocr_data, week_nlp_data, week_cuneiform_data, week_fonttype_data)
        </script>
        <script>
            var month_time = {{ times.month|safe }} 
            var month_data = {{ totals.month|safe }}
            var month_ocr_data = {{ proctypedict.month.ocr|safe }}
            var month_nlp_data = {{ proctypedict.month.nlp|safe }}
            var month_cuneiform_data = {{ proctypedict.month.cuneiform|safe }}
            var month_fonttype_data = {{ proctypedict.month.fonttype|safe }}
            makeChart('#month', month_time, month_data, month_ocr_data, month_nlp_data, month_cuneiform_data, month_fonttype_data)
        </script>
    </body>
    {% endblock %}
